*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    main{
        width: 100%;
        max-width: 400px;
        height: 90%;
        border-radius: 20px;
        background: #000;
        .calculator{
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            button{
                height: 40px;
                border: none;
                outline: none;
                background: #f19a36;
                cursor: pointer;
                color: white;
                font-weight: bold;
                font-size: 20px;
                width: 30%;
                align-self: flex-end;
            }
            p{
                font-size: 20px;
            }
            .screen{
                width: 100%;
                height: 150px;
                background: #baab59;
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding: 10px;
                font-size: 25px;
                font-weight: 300;
                overflow-x: scroll;
                .logo{
                    position: absolute;
                    display: none;
                    top: 50%;
                    left: 50%;
                    transform: translate(-20%,-50%);
                    transition: 500ms;
                    font-size: 30px;
                    width: 100%;
                    margin: auto;
                    font-weight: 900;
                    letter-spacing: 2px;
                }
                .screen1,.screen2{
                    height: 50%;
                    width: 100%;

                }
            }
            .keypad{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                background: #000;
                gap: 5px;
                width: 100%;
                p{
                    height: 50px;
                    border: 1px solid white;
                    color: white;
                    background: #1a1717;
                    font-weight: bold;
                    cursor: pointer;
                    display: grid;
                    place-content: center;
                    &:hover{
                        background: #000000b7;
                    }
                }
            }
        }
        @media (max-width:360px) {
            width: 100%;
            height: 100%;
        }
    }
}
.anim{
    display: flex;
}